@model Simple_shop.ViewModels.HomeVM
@using Simple_shop.Infrastructure
@{
    ViewBag.Title = "Praktyczne kursy";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var kategoria in Model.kategorie)
            {
            <li>
                <a href="@Url.Action("Lista", "Kursy", new {nazwaKategori = kategoria.nameCategory.ToLower()})"
                   style="background-image: url(@Url.ikonyKategoriiSciezka(kategoria.FileNameIcons));">
                    @kategoria.nameCategory
                </a>
            </li>
        }

    </ul>
    <a href="link">
        <img id="baner" src="../Content/Images/baner.png" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var best in Model.Bestsellery)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new {id = best.CourseId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink"href="@Url.Action("Sczegoly", "Kursy", new { id = best.CourseId})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiiiSciezka(best.ImgName)" />
                        <h1>
                            @best.TitleCourse  -  @best.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">

        @foreach (var news in Model.Nowosci)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new {id = news.CourseId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Sczegoly", "Kursy", new { id = news.CourseId})">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.ObrazkiiiSciezka(news.ImgName)" />
                        <h1>
                            @news.TitleCourse - @news.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>



